.btn-margin {
  margin: 2px 10px;
  font-size: 2vw;
  padding: 1px;
  text-align: center;
}
/* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .btn-margin {
      font-size: 1vw;
    }
 }
/* .required:after { content:" *"; }*/
 /* Small devices (tablets, 768px and up) */
  @media (min-width: 970px) {
    .btn-margin {
      margin: 5px 10px;
      padding: 5px;
      font-size: 14px;
    }
 }

/*
.preloader {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #fefefe;
     z-index: 99999;
     height: 100%;
     width: 100%;
     overflow: hidden !important;
}

.loaded {
     width: 60px;
     height: 60px;
     position: absolute;
     left: 50%;
     top: 50%;
     background-image: url(preloading.gif);
     background-repeat: no-repeat;
     background-position: center;
     -moz-background-size: cover;
     background-size: cover;
     margin: -20px 0 0 -20px;
}
*/
